style {
  background-color: #e1b7be;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
body {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
dir {
  text-align: center;
}
ul {
  text-align: center;
}
